{% extends 'base.html' %}

{% block content %}
<h2>Customer Testimonials</h2>
<p>Here’s what our customers are saying about their Tex-Mex experience!</p>

<div class="testimonials">
    <div class="testimonial-item">
        <p>"The best Tex-Mex in town! The flavors are amazing, and the service is outstanding."</p>
        <p class="author">- Jamie L.</p>
    </div>
    <div class="testimonial-item">
        <p>"I can’t get enough of their tacos! Highly recommend this place to everyone."</p>
        <p class="author">- Chris M.</p>
    </div>
    <div class="testimonial-item">
        <p>"Perfect spot for family gatherings. Great food, cozy atmosphere!"</p>
        <p class="author">- Taylor S.</p>
    </div>
</div>
{% endblock %}
